
<% if target.errors.any? %>
  <div class="error_explanation">
    <h4> Please check the following <%= pluralize(target.errors.count, "error") %> :</h4>
    <ul>
      <% target.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end  %>
